<h1>About</h1>

<div class="paper">
<br>
<p>1Co 9:18 What is my reward then? [Verily] that, when I preach the gospel, I may
make the gospel of Christ without charge, that I abuse not my power in the gospel.</p>

<p>
1Co 9:18 既是這樣、我的賞賜是甚麼呢．就是我傳福音的時候、叫人不花錢得福音、免得用盡我傳福音的權柄。
</p>
<br>
</div>