<h1>Contact</h1>
<div class="paper">
<br>
<p><strong>Heb 11:13-16 These all died in faith, not having received the promises, but having
seen them afar off, and were persuaded
of [them,] and embraced [them,] and
confessed that they were strangers and
pilgrims on the earth. For they that say such things declare plainly that they seek a country.
And truly, if they had been mindful of that [country] from whence they
came out, they might have had opportunity to have returned. 
But now they desire a better [country,] that is, an heavenly: wherefore God is not ashamed to be called
their God: for he hath prepared for them a city
</strong>
</p>
<p><strong>
Heb 11:13-16 這些人都是存著信實死
的、並沒有得著所應許的、卻從遠處望見、且歡喜迎接、又承認
自己在世上是客旅、是寄居的。
說這樣話的人、是表明自己要找一個家鄉。
他們若想念所離開的家鄉、還有可以回去的機會。
他們卻羨慕一個更美的家鄉、就是在天上的．所以　神被稱為他們的　神、並不以為恥．因為他已經給他們豫備了一座城。
</strong>
</p>
<br>
</div>

<br>
<br>
<address>
<strong>Church of the Firstborn</strong><br>
Heb 12:22-23 Mount Sion,<br>
City of the living God,<br>
the heavenly Jerusalem
</address>

<address>
<strong>天上長子之教會</strong><br>
Heb 12:22-23 錫安山<br>
永生　神的城邑<br>
天上的耶路撒冷．
</address>